.widget.blog-categories
	p.title Categories
	ul
		each val in ['Art', 'Branding', 'Creative', 'Design', 'Illustrations', 'Photography', 'Podcast', 'Tips', 'UX/UI']
			li
				a(href='project-single.html')=val