.widget.recent-projects
	p.title Recent Projects
	ul
		each val in ['Mutualismi', 'Genuine American Fortune Cookies', 'Moth Magazine', "The World's Smallest Portfolio", 'BNF Magazine']
			li
				a(href='project-page.html')=val