.widget.twitter
	p.title Twitter
	ul
		li
			| We chatted with 
			a(href='#') @thelaborator
			|, one of 
			a(href='#') @EnvatoMarket
			|'s top authors.
			a.time(href='#') 20 Jun 2016
		li
			| The things worth taking note of from this year's annual Apple Worldwide Developer's Conference. 
			a(href='#') #WWDC
			a.time(href='#') 20 Jun 2016