.widget.filter#works-filter
	p.title Works Filter
	ul
		li.active(data-filter='*') All
		li(data-filter='.typography') Typography
		li(data-filter='.illustration') Illustration
		li(data-filter='.branding') Branding