@charset "UTF-8";

@media 
only screen and (max-width: 880px)
{

    #container,
    header {
        overflow:hidden;
    }
    
    header {
        margin:0 -240px;
    }
    
    .thankyou_left.subscribed,
    .thankyou_right.subscribed {
        position:relative;
        width:auto;
    }

    .thankyou_left.subscribed {
    top: -141px;
    right: -177px;
    }
    
    .thankyou_right.subscribed {
    top: -45px;
    left: -176px;
    }

    .podcast_player {
    width: 420px;
    padding: 150px 90px;
    }

}

@media 
only screen and (max-width: 800px)
{

    #subscribe_box {
        width: 420px;
        padding: 50px 60px 60px;
        margin:60px auto;
    }

    #faqs,
    #episodes {
        display:block;
        width:100%;
        margin:60px 0 0 0;
    }
    
        span.episode_position::before {
            content:'below';
        }   
    
    #contact {
    text-align:left;
    }
    
    #contact.single {
    text-align:center;
    }    

    .podcast_player {
    width: 360px;
    padding: 90px 30px;
    }

}

@media 
only screen and (max-width: 700px)
{

    #subscribe_box {
        width: 420px;
        padding: 20px 30px 30px;
        margin:60px auto;
    }
    
    #subscribe_box a,
    #subscribe_box a:after {
        margin:30px 0 0 0;    
    }

}

@media 
only screen and (max-width: 600px)
{

    h1 {
    font-size: 52px;
    }

}